<h1>Analyzer#index</h1>
<p>Find me in app/views/analyzer/index.html.erb</p>

<p>Buttons for leadership</p>

<p>Copy and paste a members press release RSS feed</p>
<p>RSS Consumer - https://github.com/feedjira/feedjira</p>
<p>Markov - https://github.com/zolrath/marky_markov</p>
<p>WordCloud - https://github.com/timdream/wordcloud2.js</p>
